:root {
    --background: rgb(224, 234, 247);
    --header-background: rgb(254, 251, 245);
    --primary-font: Corbel, 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', 'DejaVu Sans',
        'Bitstream Vera Sans', 'Liberation Sans', Verdana, 'Verdana Ref', sans-serif;
}

body {
    font-family: var(--primary-font);
    background: var(--background);
    display: grid;
    grid-template-rows: auto 1fr;
}

header {
    position: sticky;
    top: 0;
    padding: 15px;
    height: 80px;

    display: flex;
    align-items: center;
    gap: 10px;

    //background-color: var(--header-background);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

header .logo {
    height: 100%;
}

main {
    padding: 20px;
}

.hide {
    display: none;
}

.shake {
    animation: shake 1s;
}

@keyframes shake {
    0% {
        transform: translate(4px, 4px) rotate(0deg);
    }
    10% {
        transform: translate(-4px, -4px) rotate(-1deg);
    }
    20% {
        transform: translate(-7px, 0px) rotate(1deg);
    }
    30% {
        transform: translate(7px, 4px) rotate(0deg);
    }
    40% {
        transform: translate(4px, -4px) rotate(1deg);
    }
    50% {
        transform: translate(-4px, 4px) rotate(-1deg);
    }
    60% {
        transform: translate(-7px, 4px) rotate(0deg);
    }
    70% {
        transform: translate(7px, 4px) rotate(-1deg);
    }
    80% {
        transform: translate(-4px, -4px) rotate(1deg);
    }
    90% {
        transform: translate(4px, 4px) rotate(0deg);
    }
    100% {
        transform: translate(4px, -4px) rotate(-1deg);
    }
}

body {
    background-color: #3e3e60;
    color: white;
    font-family: 'Roboto mono', monospace;
}
img {
    padding-left: 2em;
}

button {
    margin-top: 1em;
}

.center {
    text-align: center;
    padding-top: 2em;
}

#message {
    font-size: 2em;
    margin-top: 4em;
    margin-left: 2em;
}
